@import 'vars.scss';
@import 'reset.scss';

html {
    font-size: 62.5%;
}


body {
    background-color: #181818;

    font-family: system-ui,-apple-system,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,
    "Noto Sans","Liberation Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji",
    "Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.4rem;
    color:  $white;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

/* scroll bar
================ */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #545455;
    box-shadow: 0 0 2px rgb(0, 0, 0, 2) inset;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 8px;
    border: 3px solid #9c9c9c;
  }

/* Blocks */
@import 'blocks/page.scss';
@import 'blocks/header.scss';
@import 'blocks/sidebar.scss';
@import 'blocks/main.scss';
@import 'blocks/container.scss';
@import 'blocks/stories.scss';
@import 'blocks/add__post.scss';
@import 'blocks/post.scss';
@import 'blocks/embed.scss';
@import 'blocks/form.scss';
@import 'blocks/works.scss';
@import 'blocks/profile.scss';
@import 'blocks/signup.scss';




