.add__post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.add__post__form {
    display: flex;
    align-items: flex-end;
}

.add__post__textarea {
    display: block;
    flex-grow: 1;
    height: 34px;
    overflow: hidden;

    border: none;
    background: transparent;
    resize: none;

    font-family: inherit;
    color: $white;
    font-size: 1.5rem;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add__actions {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    @include breakpoint($mobile-bp) {
        width: 9rem;
    }
}

.add__post__file,
.add__send  {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transform:  background-color
    .2s linear;

    @include breakpoint($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add__post__file {
    background: #ebebeb
    url('../images/photo.jpg')
    center no-repeat;

    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 5%);
    }

    @include breakpoint($mobile-bp) {
        background-size: 18px;
    }
}

.add__send {
    background-color: $blue;
    margin-left: 1.5rem;

    font-size: 0;
    color: transparent;

    background: $blue
    url('../images/send1.svg')
    center no-repeat;


    &:hover {
        background-color: darken($blue, 5%);
    }

    @include breakpoint($mobile-bp) {
        background-size: 15px;
    }
}