.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;


    border-radius: 5px;
    background-color: $primary;
    box-shadow:  0 15px 25px 
    rgba($black, .35);
}

.post__header {
    margin: 0 0 2.5rem;

    

    &_preview {
        margin: -2.5rem -2.5rem 2.5rem;
    }
}



.post__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: $white;
    font-weight: 500;

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    &__mb0 {
        margin-bottom: 0;
    }
}

.post__subtitle {
    margin-top: 3rem;
    font-style: 1.6rem;
    font-weight: 500;
    color: $white;
    margin-bottom: 2rem;
}

.post__description {
    font-size: 1.4rem;
    color: #d2d2d2;
}

.post__text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: $white;
    border-bottom: 1px
    solid #1c1c1c;

    h2,h3,h4,h5,h6 {
        margin-bottom: 2rem;
        font-weight: 700;
    }

    h2{
        font-style: 1.5rem;
        
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5, h6 {
        font-size: 1rem;
    }

    ul, ol {
        margin-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        list-style-position: inherit;
    }

    p {
        margin-bottom: 2rem;
    }

    a {
        color: $blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    table {
        margin-bottom: 2rem;
        width: 100%;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__data {
    display: flex;
    color: #828282;
    line-height: 1.2;

    a {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.post__data__item {
    &:not(:last-child):after {
        position: relative;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        top: -2;

        background-color: #c4c4c4;
        border-radius: 50%;
    }
}

.post__riad {
   color: #107eff;
   font-size: 1.4rem;
   text-decoration: none;

   &:hover {
    text-decoration: underline;
}
}

.pagination {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 40px;
    height: 40px;

    background-color: #0d0d0d;
    border-radius: 3px;
    box-shadow:  0 0 10px 
    rgba($black, .15);
    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;

    text-align: center;
    text-decoration: none;
    transition: background-color .2s linear;

    &.active {
        background-color: $blue;
        box-shadow:  0 0 10px 
        rgba($blue, .15);
    }

    &:hover {
        background-color: lighten(#0d0d0d, 2%) ;
    }

    
}

.post__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    color: $white;
    font-size: 1.2rem;

    a {
        color: inherit;
        text-decoration: none;

        opacity: 0.6;
        transition: opacity .2s linear;
    }

    &:hover {
        text-decoration: underline;
        opacity: 1;
    }

}

.post__actions_icon {
    margin-left: .5rem;
}

/* Related 
============================ */

.related {
    padding: 3rem 0 .5rem;
    padding-bottom: .5rem;

    border-bottom: 1px
    solid #1c1c1c;

}


.related__list {
    display: flex;
    flex-wrap: wrap;
}

.related__list__item {
    width: 50%;
    margin-bottom: 2.5rem;
}

.related__list__title {
    font-style: 1.4rem;
    color: #f3eba2;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.related__list__date {
    font-style: 1.2rem;
    color: #828282;
}

.comments {
    margin-top: 5rem;


}

.comments__item {
    margin-bottom: 3rem;

    > .comments {
        padding-left: 3rem;
        margin-top: 3rem;
    }
}

.comments__header {
    display: flex;
    margin-bottom: 1.5rem;
}

.comments__avatar {
    width: 3rem;
    height: 3rem;
    line-height: 1.4;
    border-radius: 50%;
}

.comment__author {
    flex-grow: 1;
    padding-left: 1.5rem;

    font-style: 1.2rem;
}

.comments__name {
    color: $white;
    font-weight: 500;
}

.comments__date {
    color: #757575;
}

.comments__text {
    margin-bottom: 1rem;

    font-size: 1.2rem;
    line-height: 1.3;
    color: $white;
}

.comments__reply {
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    font-weight: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}